<footer class="footer">
  <div class="content-wrap">
    <div class="footer-links">
      <ul class="footer-links__ul">
        <li class="footer-links__li">
          <a id="facebook" class="footer-links__li-a" target="_blank" rel="noopener noreferrer"
            href="https://www.facebook.com/chornolutskyi">Facebook</a>
        </li>
        <li class="footer-links__li">
          <a id="twitter" class="footer-links__li-a" target="_blank" rel="noopener noreferrer"
            href="https://twitter.com/">Twitter</a>
        </li>
        <li class="footer-links__li">
          <a id="google" class="footer-links__li-a" target="_blank" rel="noopener noreferrer"
            href="https://plus.google.com/">Google+</a>
        </li>
        <li class="footer-links__li">
          <a id="linkedIn" class="footer-links__li-a" target="_blank" rel="noopener noreferrer"
            href="https://www.linkedin.com/in/oleksandr-chornolutskyi/">LinkedIn</a>
        </li>
        <li class="footer-links__li">
          <a id="behance" class="footer-links__li-a" target="_blank" rel="noopener noreferrer"
            href="https://www.behance.net/">Behance</a>
        </li>
        <li class="footer-links__li">
          <a id="dribble" class="footer-links__li-a" target="_blank" rel="noopener noreferrer"
            href="https://dribbble.com/">Dribble</a>
        </li>
        <li class="footer-links__li">
          <a id="gitHub" class="footer-links__li-a" target="_blank" rel="noopener noreferrer"
            href="https://github.com/ochornolutskyi">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</footer>