<header class="header">
  <div class="content-wrap">
    <div class="header-head">
      <div class="header-head__logo">
        <a class="logo" href="/">
          <img src="../src/img/header/logo.png" alt="logo">
        </a>
      </div>
      <nav id="nav" class="header-head__nav">
        <ul class="nav-ul">
          <li class="nav-ul__li">
            <a class="nav-ul__li-a" href="/">Home</a>
          </li>
          <li class="nav-ul__li">
            <a class="nav-ul__li-a" href="#about">About</a>
          </li>
          <li class="nav-ul__li">
            <a class="nav-ul__li-a" href="#portfolio">Work</a>
          </li>
          <li class="nav-ul__li">
            <a id="blogLink" class="nav-ul__li-a" href="#">Blog</a>
          </li>
          <li class="nav-ul__li">
            <a class="nav-ul__li-a" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-content">
      <h1 class="header-content__title">Hi there! We are the new kids on the block and we build
        awesome websites and mobile apps.</h1>
      <a class="header-content__button" href="#contact">Work with
          us!
      </a>
    </div>
  </div>
</header>