<div id="portfolio" class="portfolio">
  <div class="content-wrap">
    <div class="portfolio-header">
      <h2 class="portfolio-header__title">OUR PORTFOLIO</h2>
      <div class="dividingLine"></div>
      <div class="portfolio-header__note">
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
        consectetur, adipisci velit, sed quia non numquam
      </div>
    </div>
    <div class="portfolio-content">
      <div class="portfolio-content__menu">
        <div id="buttonAll" class="portfolio-content__menu-button active">ALL</div>
        <div id="buttonWeb" class="portfolio-content__menu-button">WEB</div>
        <div id="buttonApps" class="portfolio-content__menu-button">APPS</div>
        <div id="buttonIcons" class="portfolio-content__menu-button">Icons</div>
      </div>
      <div class="portfolio-content__gallery">
        <div class="gallery-item gallery-item__web">
          <img class="gallery-item__img" src="../src/img/portfolio/isometric.png" alt="gallery item img">
          <div class="gallery-item__title">Isometric Perspective Mock-Up</div>
        </div>
        <div class="gallery-item gallery-item__apps">
          <img class="gallery-item__img" src="../src/img/portfolio/timezone.png" alt="gallery item img">
          <div class="gallery-item__title">Time Zone App UI</div>
        </div>
        <div class="gallery-item gallery-item__web">
          <img class="gallery-item__img" src="../src/img/portfolio/mediaplayer.png" alt="gallery item img">
          <div class="gallery-item__title">Viro Media Players UI</div>
        </div>
        <div class="gallery-item gallery-item__icons">
          <img class="gallery-item__img" src="../src/img/portfolio/blog.png" alt="gallery item img">
          <div class="gallery-item__title">Blog / Magazine Flat UI Kit</div>
        </div>
        <button class="gallery-button">LOAD MORE PROJECTS</button>
      </div>
    </div>
  </div>
</div>