<div class="services">
  <div class="content-wrap">
    <div class="services-header">
      <h2 class="services-header__title">SERVICES WE PROVIDE</h2>
      <div class="dividingLine"></div>
      <div class="services-header__note">We are working with both individuals and businesses from all
        over the globe to create awesome websites and applications.
      </div>
    </div>
    <div class="services-content">
      <div class="services-content__item">
        <div class="services-content__item-image">
          <img class="item-image" src="../src/img/services/flag.png" alt="flag">
        </div>
        <h3 class="services-content__item-title">Branding</h3>
        <div class="services-content__item-notice">Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh.</div>
      </div>
      <div class="services-content__item">
        <div class="services-content__item-image">
          <img class="item-image" src="../src/img/services/pencil.png" alt="pencil">
        </div>
        <h3 class="services-content__item-title">Design</h3>
        <div class="services-content__item-notice">Sed ut perspiciatis unde omnis iste natus error
          sit voluptatem.
        </div>
      </div>
      <div class="services-content__item">
        <div class="services-content__item-image">
          <img class="item-image" src="../src/img/services/cogwheel.png" alt="cogwheel">
        </div>
        <h3 class="services-content__item-title">Development</h3>
        <div class="services-content__item-notice">At vero eos et accusamus et iusto odio
          dignissimos qui blanditiis praesentium.
        </div>
      </div>
      <div class="services-content__item">
        <div class="services-content__item-image">
          <img class="item-image" src="../src/img/services/rocket.png" alt="rocket">
        </div>
        <h3 class="services-content__item-title">ROCKET SCIENCE</h3>
        <div class="services-content__item-notice">Et harum quidem rerum est et expedita distinctio.
          Nam libero tempore.
        </div>
      </div>
    </div>
  </div>
</div>