<div class="skills">
  <div class="content-wrap">
    <div class="skills-header">
      <h2 class="skills-header__title">WE GOT SKILLS!</h2>
      <div class="dividingLine"></div>
      <div class="skills-header__note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div>
    <div class="skills-content">
      <div class="skills-content__item">
        <div class="webDesign progress">
          <img class="progress-base" src="../src/img/skills/base.png" alt="base.png">
          <img class="progress-current" src="../src/img/skills/progress_web.png" alt="progress_design.png">
          <div class="progress-percent"><span>90</span><span class="percent-span">%</span></div>
        </div>
        <div class="progress-title">Web Design</div>
      </div>
      <div class="skills-content__item">
        <div class="htmlCss progress">
          <img class="progress-base" src="../src/img/skills/base.png" alt="base.png">
          <img class="progress-current" src="../src/img/skills/progress_htmlcss.png"
            alt="progress_htmlcss.png">
          <div class="progress-percent"><span>75</span><span class="percent-span">%</span></div>
        </div>
        <div class="progress-title">HTML / CSS</div>
      </div>
      <div class="skills-content__item">
        <div class="graphicDesign progress">
          <img class="progress-base" src="../src/img/skills/base_graphic.png" alt="base.png">
          <img class="progress-current" src="../src/img/skills/progress_design.png"
            alt="progress_design.png">
          <div class="progress-percent"><span>70</span><span class="percent-span">%</span></div>
        </div>
        <div class="progress-title">GRAPHIC DESIGN</div>
      </div>
      <div class="skills-content__item">
        <div class="uiUx progress">
          <img class="progress-base" src="../src/img/skills/base.png" alt="base.png">
          <img class="progress-current" src="../src/img/skills/progress_uiux.png" alt="progress_uiux.png">
          <div class="progress-percent"><span>85</span><span class="percent-span">%</span></div>
        </div>
        <div class="progress-title">UI / UX</div>
      </div>
    </div>
  </div>
</div>