<div class="team">
  <div class="content-wrap">
    <div class="team-header">
      <h2 class="team-header__title">MEET OUR BEAUTIFUL TEAM</h2>
      <div class="dividingLine"></div>
      <div class="team-header__note">We are a small team of designers and developers, who help brands
        with big ideas.</div>
    </div>
    <div class="team-content">
      <div class="team-content__teammate">
        <div class="profile-photo">
          <img class="profile-photo__img" src="../src/img/team/anne.png" alt="profile photo"></div>
        <div class="teammate-info">
          <div class="teammate-info__name">ANNE HATHAWAY</div>
          <div class="teammate-info__position">CEO / Marketing Guru</div>
          <div class="teammate-info__description">Lorem ipsum dolor sit amet, consectetuer
            adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
          </div>
          <div class="teammate-info__links">
            <ul class="links">
              <li class="link">
                <a class="link" href="#"><img class="fb-icon links-icon" src="../src/img/team/fb_icon.png"
                    alt="fb icon"></a>
              </li>
              <li class="link">
                <a class="link" href="#"><img class="twitter-icon links-icon"
                    src="../src/img/team/twitter_icon.png" alt="twitter icon"></a>
              </li>
              <li class="link">
                <a class="link" href="#"><img class="linkedIn-icon links-icon"
                    src="../src/img/team/in_icon.png" alt="linkedIn icon"></a>
              </li>
              <li class="link">
                <a class="link" href="#"><img class="mail-icon links-icon"
                    src="../src/img/team/mail_icon.png" alt="mail icon"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team-content__teammate">
        <div class="profile-photo">
          <img class="profile-photo__img" src="../src/img/team/kate.jpeg" alt="profile photo">
        </div>
        <div class="teammate-info">
          <div class="teammate-info__name">Kate Upton</div>
          <div class="teammate-info__position">Creative Director</div>
          <div class="teammate-info__description">Duis aute irure dolor in in voluptate velit esse
            cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.
          </div>
          <div class="teammate-info__links">
            <ul class="links">
              <li class="link">
                <a class="link" href="#"><img class="twitter-icon links-icon"
                    src="../src/img/team/twitter_icon.png" alt="twitter icon"></a>
              </li>
              <li class="link">
                <a class="link" href="#"><img class="linkedIn-icon links-icon"
                    src="../src/img/team/in_icon.png" alt="linkedIn icon"></a>
              </li>
              <li class="link">
                <a class="link" href="#"><img class="mail-icon links-icon"
                    src="../src/img/team/mail_icon.png" alt="mail icon"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team-content__teammate">
        <div class="profile-photo">
          <img class="profile-photo__img" src="../src/img/team/olivia.png" alt="profile photo"></div>
        <div class="teammate-info">
          <div class="teammate-info__name">Olivia Wilde</div>
          <div class="teammate-info__position">Lead Designer</div>
          <div class="teammate-info__description">Nemo enim ipsam voluptas sit aspernatur aut odit
            aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.
          </div>
          <div class="teammate-info__links">
            <ul class="links">
              <li class="link">
                <a class="link" href="#">
                  <img class="fb-icon links-icon" src="../src/img/team/fb_icon.png" alt="fb icon">
                </a>
              </li>
              <li class="link">
                <a class="link" href="#"><img class="twitter-icon links-icon"
                    src="../src/img/team/twitter_icon.png" alt="twitter icon"></a>
              </li>
              <li class="link">
                <a class="link" href="#">
                  <img class="linkedIn-icon links-icon" src="../src/img/team/in_icon.png"
                    alt="linkedIn icon"></a>
              </li>
              <li class="link">
                <a class="link" href="#">
                  <img class="mail-icon links-icon" src="../src/img/team/mail_icon.png"
                    alt="mail icon"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="team-content__teammate">
        <div class="profile-photo"> <img class="profile-photo__img" src="../src/img/team/greene-ashley.png"
            alt="profile photo"></div>
        <div class="teammate-info">
          <div class="teammate-info__name">Ashley Greene</div>
          <div class="teammate-info__position">SEO / Developer</div>
          <div class="teammate-info__description">Sed ut perspiciatis unde omnis iste natus error
            sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</div>
          <div class="teammate-info__links">
            <ul class="links">
              <li class="link">
                <a class="link" href="#"><img class="fb-icon links-icon" src="../src/img/team/fb_icon.png"
                    alt="fb icon"></a>
              </li>
              <li class="link">
                <a class="link" href="#"><img class="twitter-icon links-icon"
                    src="../src/img/team/twitter_icon.png" alt="twitter icon"></a>
              </li>
              <li class="link">
                <a class="link" href="#"><img class="mail-icon links-icon"
                    src="../src/img/team/mail_icon.png" alt="mail icon"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>