@import "veriables";

.contact {
  background-color: #3c5499;
  .content-wrap {
    max-width: 860px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .contact-header {
      max-width: 782px;
      width: 100%;
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__title {
        margin-bottom: 21px;
        font-size: 40px;
        line-height: 29px;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: #fff;
        text-align: center;
      }
      &__note {
        width: 100%;
        margin-top: 23px;
        font-size: 17px;
        line-height: 19px;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: center;
      }
      &__number {
        display: inline;
        color: #fff;
      }
    }
    .contact-content {
      max-width: 860;
      width: 100%;
      margin-top: 76px;
      .contact-form {
        width: 100%;
        margin-bottom: 115px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__input {
          max-width: 414px;
          width: 100%;
          height: 56px;
          padding: 0 25px;
          margin-bottom: 27px;
          background-color: #273a71;
          border: none;
          border-radius: 3px;
          font-size: 18, 16px;
          line-height: 56px;
          font-weight: 400;
          color: #fff;
        }
        &__textarea {
          max-width: 860px;
          width: 100%;
          min-height: 200px;
          padding: 24px 25px;
          margin-bottom: 59px;
          background-color: #273a71;
          border-radius: 3px;
          border: none;
          font-size: 18, 16px;
          line-height: 18px;
          font-weight: 400;
          color: #fff;
        }
        #contact-form__button {
          width: 293px;
          height: 70px;
          margin: 0 auto;
          background-color: #30bae7;
          border: none;
          border-bottom: 4px solid rgba(0, 0, 0, 0.14);
          border-radius: 5px;
          font-size: 18px;
          line-height: 70px;
          font-weight: 600;
          letter-spacing: 0.02em;
          color: #ffffff;
          text-transform: uppercase;
        }
      }
      input::placeholder,
      textarea::placeholder {
        font-size: 18, 16px;
        font-weight: 400;
        color: #fff;
        //color: #ff4444;
        opacity: 1;
      }
    }
  }
}
