.footer {
  width: 100%;
  min-height: 112px;
  background-color: #344b8e;
  .content-wrap {
    max-width: 938px;
    width: 100%;
    padding-top: 48px;
    .footer-links {
      width: 100%;
      &__ul {
        width: 100%;
        margin-bottom: 51px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .footer-links__li {
          padding: 0 5px;
          flex-shrink: 1;
          margin: 0 auto;
          &-a {
            font-size: 24px;
            line-height: 23px;
            font-weight: 600;
            letter-spacing: 0.02em;
            color: #fff;
          }
          &-a:hover{
            transition: all 0.2s ease;
          }
        }
        #facebook:hover {
          color: #3b5998;
        }
        #twitter:hover {
          color: #30bae7;
        }
        #google:hover {
          color: #dd4b39;
        }
        #linkedIn:hover {
          color: #2867b2;
        }
        #behance:hover {
          color: #1769ff;
        }
        #dribbble:hover {
          color: #333;
        }
        #gitHub:hover {
          color: #333;
        }
      }
    }
  }
}
