@import "veriables";

.portfolio {
  background-color: #ffdd99;
  .content-wrap {
    max-width: 1103px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    .portfolio-header {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__title {
        margin-bottom: 21px;
        font-size: 37px;
        text-transform: uppercase;
        line-height: 29px;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-align: center;
        color: #393939;
      }
      &__note {
        max-width: 515px;
        max-height: 45px;
        margin-top: 23px;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: 0.02em;
        color: #393939;
        text-align: center;
      }
    }
    .portfolio-content {
      width: 100%;
      margin-top: 42px;
      margin-bottom: 109px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: #393939;
      text-align: center;
      &__nav {
        max-width: 378px;
        width: 100%;
        margin-bottom: 62px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .galleryNav__button {
          min-height: 38px;
          flex-basis: 84px;
          flex-shrink: 0;
          flex-grow: 1;
          background: none;
          border: none;
          font-size: 18px;
          line-height: 19px;
          font-weight: 400;
          letter-spacing: 0.02em;
          color: #393939;
        }
        .galleryNav__button:hover {
          background-color: #fff;
          transition: all 0.5s ease;
          border-radius: 3px;
        }
      }
      &__gallery {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .gallery-item {
          margin: 0 auto;
          flex-basis: 541px;
          flex-shrink: 1;
          flex-grow: 0;
          margin-bottom: 64px;
          &__img {
            width: 100%;
          }
          &__title {
            margin-top: 32px;
            font-size: 18px;
            line-height: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            color: #393939;
            text-align: center;
          }
        }
        .gallery-button {
          width: 293px;
          height: 70px;
          margin: 0 auto;
          margin-top: 19px;
          background-color: #17c2a4;
          border: none;
          border-bottom: 4px solid rgba(0, 0, 0, 0.14);
          border-radius: 5px;
          font-size: 18px;
          line-height: 26px;
          font-weight: 600;
          letter-spacing: 0.02em;
          color: #fff;
        }
      }
    }
  }
}
