@import "veriables";

.team {
  width: 100%;
  background-color: #e7f1f8;
  .content-wrap {
    max-width: 1035px;
    width: 100%;
    min-height: 914px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .team-header {
      margin-top: 119px;
      margin-bottom: 78px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      &__title {
        text-align: center;
        font-size: 41.3px;
        text-transform: uppercase;
        line-height: 30px;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: $font-color-primary2;
        margin-bottom: 22px;
      }
      &__note {
        color: $font-color-primary2;
        font-size: 18.6px;
        line-height: 26px;
        font-weight: 400;
        letter-spacing: 0.02em;
        margin-top: 25px;
        text-align: center;
      }
    }
    .team-content {
      width: 100%;
      min-height: 490px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 127px;
      &__teammate {
        max-width: 206px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        .profile-photo {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          opacity: 0.7;
          margin-bottom: 41px;
        }
        .profile-photo:hover {
          opacity: 1;
          transition: 0.6s opacity;
        }
        .teammate-info {
          width: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          &__name {
            font-size: 24px;
            line-height: 18px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            color: #27283d;
            margin-bottom: 15px;
          }
          &__position {
            font-size: 16px;
            line-height: 18px;
            font-weight: 400;
            letter-spacing: 0.02em;
            color: #30bae7;
            margin-bottom: 26px;
          }
          &__description {
            height: 112px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.02em;
            color: $font-color-primary2;
            margin-bottom: 31px;
          }
          &__links {
            width: 100%;
            .links {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              .link {
                margin-right: 12px;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                }
              }
              .link:hover {
                cursor: pointer;
              }
              .link:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
