@import "veriables";
@import "header";
@import "services";
@import "team";
@import "skills";
@import "portfolio";
@import "about";
@import "contact";
@import "footer";

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb/TitilliumWeb.woff2") format("woff2"),
    url("../fonts/TitilliumWeb/TitilliumWeb.woff") format("woff"),
    url("../fonts/TitilliumWeb/TitilliumWeb.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Titillium Web";
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
}
button {
  padding: 0;
  cursor: pointer;
}
.content-wrap {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.dividingLine {
  width: 87px;
  height: 4px;
  opacity: 0.14;
  background-color: #000000;
}
